<a href="https://colab.research.google.com/github/ikarosgn/data_viz/blob/main/DataViz_Midterm_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [47]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
import os
path = '/content/drive/My Drive/dataviz_2021'

In [34]:
midterm_file_path1 = os.path.join(path,'Project1-StuList-1-63-ตัดเกรด_renamed.xlsx')

In [35]:
a = path + '/Project1-StuList-1-63-ตัดเกรด_renamed.xlsx'
print(a)

/content/drive/My Drive/dataviz_2021/Project1-StuList-1-63-ตัดเกรด_renamed.xlsx

#ข้อมูล 1

In [50]:
data_midterm1 = pd.read_excel(midterm_file_path1,sheet_name=0,skiprows=1)
data_midterm1

    Unnamed: 0   Unnamed: 1  ... Unnamed: 23 Unnamed: 24
0            1  603020450-3  ...       จำนวน      ร้อยละ
1            2  603020451-1  ...           0           0
2            3  603020452-9  ...           0           0
3            4  603020453-7  ...           0           0
4            5  603020458-7  ...           0           0
..         ...          ...  ...         ...         ...
83          84  603021885-3  ...         NaN         NaN
84          85  603021886-1  ...         NaN         NaN
85          86  603021888-7  ...         NaN         NaN
86          87  603021889-5  ...         NaN         NaN
87          88          NaN  ...         NaN         NaN

[88 rows x 25 columns]

In [139]:
#นำคะแนนอ.ที่ปรึกษา ดร.ธิปไตย,รศ.ธิดาเดียว,ผศ.สุกัญญา,ดร.ธนพงศ์,ผศ.วุฒิชัย,รศ.สุพรรณี,อ.ยุภาพร,ดร.พลากร,รศ.วิชุดา,ดร.วรรณพร,อ.ธรรณญพร,ดร.อุทุมพร เข้ามา
score1 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.ธิปไตย',skiprows=1)
score2 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='รศ.ธิดาเดียว',skiprows=1)
score3 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ผศ.สุกัญญา',skiprows=1)
score4 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.ธนพงศ์',skiprows=1)
score5 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ผศ.วุฒิชัย',skiprows=1)
score6 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='รศ.สุพรรณี',skiprows=1)
score7 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='อ.ยุภาพร',skiprows=1)
score8 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.พลากร',skiprows=1)
score9 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='รศ.วิชุดา',skiprows=1)
score10 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.วรรณพร',skiprows=1)
score11 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='อ.ธรรณญพร',skiprows=1)
score12 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.อุทุมพร',skiprows=1)
score1

             Unnamed: 0  ...                                        Unnamed: 12
0                   NaN  ...                                                NaN
1  leaky-rust-chameleon  ...  1.การศึกษาแนวทางการประกันภัยพืชผลสำหรับมันสำปะ...
2    greasy-ruby-bombay  ...                                                NaN
3   wiggy-silver-drever  ...  2.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้ค...
4       stinky-red-chow  ...                                                NaN
5  bumpy-indigo-dolphin  ...  23.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้...
6   randy-rust-lionfish  ...                                                NaN
7    flaky-sepia-setter  ...  32.ความเสี่ยงทางไซเบอร์ในองค์กรที่มีสาเหตุมาจา...
8    pasty-tomato-okapi  ...                                                NaN

[9 rows x 13 columns]

In [125]:
#ตัดคนทำโปรเจค QC ออก
CutQC = list()
for each_row in data_midterm1.iterrows():
  if each_row[1]["ส่งไฟล์Gantt"] != 'QC':
    CutQC.append(True)
  else:
    CutQC.append(False)
data_midterm1CutQC = data_midterm1[CutQC]
data_midterm1CutQC.head()

   Unnamed: 0   Unnamed: 1  ... Unnamed: 23 Unnamed: 24
0           1  603020450-3  ...       จำนวน      ร้อยละ
1           2  603020451-1  ...           0           0
2           3  603020452-9  ...           0           0
3           4  603020453-7  ...           0           0
5           6  603020460-0  ...           0           0

[5 rows x 25 columns]

In [105]:
ScoreStudent = data_midterm1CutQC[['Unnamed: 2',1]]  
ScoreStudent

                   Unnamed: 2       1
0     cozy-tangerine-ladybird  10.000
1        leaky-rust-chameleon   9.375
2       nerdy-plum-abyssinian  10.000
3        scaly-pumpkin-monkey  10.000
5   gloppy-persimmon-flamingo   8.375
..                        ...     ...
83           randy-mauve-ibis   7.750
84         messy-white-toucan   8.750
85         gummy-olivine-ibis  10.000
86    skanky-amaranth-ostrich   8.750
87         frumpy-gamboge-emu   7.125

[80 rows x 2 columns]

#ข้อมูล 2

In [140]:
score1.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score1

             Unnamed: 0  ...                                        Unnamed: 12
1  leaky-rust-chameleon  ...  1.การศึกษาแนวทางการประกันภัยพืชผลสำหรับมันสำปะ...
2    greasy-ruby-bombay  ...                                                NaN
3   wiggy-silver-drever  ...  2.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้ค...
4       stinky-red-chow  ...                                                NaN
5  bumpy-indigo-dolphin  ...  23.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้...
6   randy-rust-lionfish  ...                                                NaN
7    flaky-sepia-setter  ...  32.ความเสี่ยงทางไซเบอร์ในองค์กรที่มีสาเหตุมาจา...
8    pasty-tomato-okapi  ...                                                NaN

[8 rows x 13 columns]

In [141]:
score2.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score3.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score4.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score5.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก 
score6.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score7.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก 
score8.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก 
score9.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score10.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก
score11.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก 
score12.drop(index= 0, inplace= True) #ตัดแถวที่ 0 ออก

In [142]:
score_1 = score1[['Unnamed: 0','รวม']] #สร้างตารางข้อมูลที่จำเป็น นำชื่อนศ และคะแนนรวมมาใช้

In [143]:
score_1

             Unnamed: 0  รวม
1  leaky-rust-chameleon   68
2    greasy-ruby-bombay   61
3   wiggy-silver-drever   67
4       stinky-red-chow   67
5  bumpy-indigo-dolphin   67
6   randy-rust-lionfish   60
7    flaky-sepia-setter   69
8    pasty-tomato-okapi   69

In [146]:
#สร้างตารางข้อมูลที่จำเป็น นำชื่อนศ และคะแนนรวมมาใช้
score_2 = score2[['Unnamed: 0','รวม']]
score_3 = score3[['Unnamed: 0','รวม']]
score_4 = score4[['Unnamed: 0','รวม']]
score_5 = score5[['Unnamed: 0','รวม']]
score_6 = score6[['Unnamed: 0','รวม']]
score_7 = score7[['Unnamed: 0','รวม']]
score_8 = score8[['Unnamed: 0','รวม']]
score_9 = score9[['Unnamed: 0','รวม']]
score_10 = score10[['Unnamed: 0','รวม']]
score_11 = score11[['Unnamed: 0','รวม']]
score_12 = score12[['Unnamed: 0','รวม']]

In [147]:
#จากไฟล์ ข้อมูลคะแนนอาจารย์ที่ปรึกษา_renamed ตรวจพบว่า อาจารย์ อุทุมพรว่างไฟล์ไว้ 2 เซลจึงทำการตรวจเช็ค
score_12

                 Unnamed: 0   รวม
1       chummy-azure-walrus  68.0
2         breezy-pear-macaw  69.0
3   cozy-tangerine-ladybird  62.0
4      scaly-pumpkin-monkey  62.0
5  scanty-razzmatazz-rabbit  65.0
6        grumpy-flax-bonobo  65.0
7                       NaN   NaN
8                       NaN   NaN

In [148]:
#ลบเซลที่ 7 8 ออกเพราะเป็นเซลส์ว่าง
score_12.dropna(inplace= True)
score_12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 Unnamed: 0   รวม
1       chummy-azure-walrus  68.0
2         breezy-pear-macaw  69.0
3   cozy-tangerine-ladybird  62.0
4      scaly-pumpkin-monkey  62.0
5  scanty-razzmatazz-rabbit  65.0
6        grumpy-flax-bonobo  65.0

In [149]:
#รวมไฟล์คะแนนของอาจารย์ทั้งหมด
SProfasocorer = pd.concat([score_1,score_2,score_3,score_4,score_5,score_6,score_7,score_8,score_9,score_10,score_11,score_12])
SProfasocorer

                  Unnamed: 0   รวม
1       leaky-rust-chameleon  68.0
2         greasy-ruby-bombay  61.0
3        wiggy-silver-drever  67.0
4            stinky-red-chow  67.0
5       bumpy-indigo-dolphin  67.0
..                       ...   ...
2          breezy-pear-macaw  69.0
3    cozy-tangerine-ladybird  62.0
4       scaly-pumpkin-monkey  62.0
5   scanty-razzmatazz-rabbit  65.0
6         grumpy-flax-bonobo  65.0

[80 rows x 2 columns]

In [ ]:
#คำนวนคะแนนให้เป็น 30 %
def cal

#ข้อมูล 3

In [37]:
midterm_file_path3 = os.path.join(path,'คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx')

In [38]:
c = path + '/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx'
print(c)

/content/drive/My Drive/dataviz_2021/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx

In [39]:
data_midterm3 = pd.read_excel(midterm_file_path3)
data_midterm3

              ชื่อ-สกุล  ...                                         ชื่อเรื่อง
0                   NaN  ...                                                NaN
1                   NaN  ...                                                NaN
2  leaky-rust-chameleon  ...  1.การศึกษาแนวทางการประกันภัยพืชผลสำหรับมันสำปะ...
3    greasy-ruby-bombay  ...                                                NaN
4   wiggy-silver-drever  ...  2.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้ค...
5       stinky-red-chow  ...                                                NaN
6  bumpy-indigo-dolphin  ...  23.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้...
7   randy-rust-lionfish  ...                                                NaN
8    flaky-sepia-setter  ...  32.ความเสี่ยงทางไซเบอร์ในองค์กรที่มีสาเหตุมาจา...
9    pasty-tomato-okapi  ...                                                NaN

[10 rows x 13 columns]

In [161]:
Data_midterm3_day1 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx',sheet_name='วันจันทร์ที่ 7 ธันวาคม 2563',skiprows=1)
Data_midterm3_day2 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx',sheet_name='วันอังคารที่ 8 ธันวาคม 2563',skiprows=1)
Data_midterm3_day3 = pd.read_excel('/content/drive/My Drive/dataviz_2021/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx',sheet_name='วันพุธที่ 9 ธันวาคม 2563',skiprows=1)
Data_midterm3_day1

      ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
0         NaN               NaN  ...                                10  70
1     SC 6501  08:00 – 10.00 น.  ...                                 6  52
2         NaN               NaN  ...                                 6  50
3         NaN               NaN  ...                                 8  60
4         NaN               NaN  ...                                 8  58
5         NaN  10:00 – 12.00 น.  ...                                 7  52
6         NaN               NaN  ...                                 7  52
7         NaN               NaN  ...                                 7  48
8         NaN               NaN  ...                                 7  48
9   SC 6502\n  08:00 – 10.00 น.  ...                                 6  53
10        NaN               NaN  ...                                 6  53
11        NaN               NaN  ...                                 8  56
12        NaN               NaN  ...                                 8  57
13        NaN  10:00 – 12.00 น.  ...                                 6  54
14        NaN               NaN  ...                                 6  51
15        NaN               NaN  ...                                 8  56
16        NaN               NaN  ...                                 8  54
17        NaN  13:00 – 15.00 น.  ...                                 6  48
18        NaN               NaN  ...                                 6  48
19        NaN               NaN  ...                                 7  53
20        NaN               NaN  ...                                 7  53
21        NaN  15:00 – 17.00 น.  ...                                 8  56
22        NaN               NaN  ...                                 8  57
23        NaN               NaN  ...                                 8  60
24        NaN               NaN  ...                                 8  60
25  SC 6409\n  08:00 – 10.00 น.  ...                                 7  57
26        NaN               NaN  ...                                 7  57
27        NaN               NaN  ...                                 8  60
28        NaN               NaN  ...                                 8  58
29        NaN  10:00 – 12.00 น.  ...                                 7  51
30        NaN               NaN  ...                                 7  51
31        NaN               NaN  ...                                 7  54
32        NaN               NaN  ...                                 7  54
33        NaN  13:00 – 15.00 น.  ...                                 9  60
34        NaN               NaN  ...                                 9  60
35        NaN  15:00 – 17.00 น.  ...                                 7  53
36        NaN               NaN  ...                                 7  53
37        NaN               NaN  ...                                 9  60
38        NaN               NaN  ...                                 9  60
39    SC 6410  08:00 – 10.00 น.  ...                                 7  48
40        NaN               NaN  ...                                 7  48
41        NaN               NaN  ...                                 7  47
42        NaN               NaN  ...                                 7  47
43        NaN  10:00 – 12.00 น.  ...                                 7  44
44        NaN               NaN  ...                                 7  46
45        NaN               NaN  ...                                 6  43
46        NaN               NaN  ...                                 6  45
47        NaN  13:00 – 15.00 น.  ...                                 6  44
48        NaN               NaN  ...                                 6  43
49        NaN               NaN  ...                                 6  42
50        NaN               NaN  ...                                 6  42
51        NaN  15:00 – 17.00 น.  ...                                 5  58
52        NaN               NaN  ...                                 5  50
53        NaN               NaN  ...                                 8  57
54        NaN               NaN  ...                                 8  55

[55 rows x 13 columns]

In [162]:
#ตัดแถว 0
Data_midterm3_day1.drop(index= 0, inplace= True)
Data_midterm3_day2.drop(index= 0, inplace= True)
Data_midterm3_day3.drop(index= 0, inplace= True)
Data_midterm3_day1.head()

   ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
1  SC 6501  08:00 – 10.00 น.  ...                                 6  52
2      NaN               NaN  ...                                 6  50
3      NaN               NaN  ...                                 8  60
4      NaN               NaN  ...                                 8  58
5      NaN  10:00 – 12.00 น.  ...                                 7  52

[5 rows x 13 columns]

In [163]:
#แก้ค่าmissing ที่อาจารย์ให้มา
Data_midterm3_Day1 = Data_midterm3_day1.fillna(method='ffill')
Data_midterm3_Day2 = Data_midterm3_day2.fillna(method='ffill')
Data_midterm3_Day3 = Data_midterm3_day3.fillna(method='ffill')
Data_midterm3_Day1.head()

   ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
1  SC 6501  08:00 – 10.00 น.  ...                                 6  52
2  SC 6501  08:00 – 10.00 น.  ...                                 6  50
3  SC 6501  08:00 – 10.00 น.  ...                                 8  60
4  SC 6501  08:00 – 10.00 น.  ...                                 8  58
5  SC 6501  10:00 – 12.00 น.  ...                                 7  52

[5 rows x 13 columns]

In [166]:
#ตัดcolumn ที่ไม่ใช้ออก ให้เหลือแต่ ชื่อของนักศึกษาเพื่อนำไปตัดกรด และ ชื่อกรรมการเพื่อหาไปถ่วงน้ำหนักคะแนน
preday1 = Data_midterm3_Day1[['นักศึกษา','กรรมการสอบ','รวม']]
preday2 = Data_midterm3_Day2[['นักศึกษา','กรรมการสอบ','รวม']]
preday3 = Data_midterm3_Day3[['นักศึกษา','กรรมการสอบ','รวม']]

In [167]:
preday1

                         นักศึกษา  กรรมการสอบ  รวม
1            leaky-rust-chameleon  ผศ.วุฒิชัย   52
2              greasy-ruby-bombay  ผศ.วุฒิชัย   50
3            leaky-rust-chameleon    อ.ยุภาพร   60
4              greasy-ruby-bombay    อ.ยุภาพร   58
5             wiggy-silver-drever  ผศ.วุฒิชัย   52
6                 stinky-red-chow  ผศ.วุฒิชัย   52
7             wiggy-silver-drever    อ.ยุภาพร   48
8                 stinky-red-chow    อ.ยุภาพร   48
9               paltry-plum-saola  ดร.อุทุมพร   53
10            cloudy-wheat-bobcat  ดร.อุทุมพร   53
11              paltry-plum-saola   ดร.วรรณพร   56
12            cloudy-wheat-bobcat   ดร.วรรณพร   57
13      gloppy-persimmon-flamingo  ดร.อุทุมพร   54
14           sleepy-gamboge-zebra  ดร.อุทุมพร   51
15      gloppy-persimmon-flamingo   ดร.วรรณพร   56
16           sleepy-gamboge-zebra   ดร.วรรณพร   54
17             sickly-grey-dugong  ดร.อุทุมพร   48
18        slaphappy-silver-monkey  ดร.อุทุมพร   48
19             sickly-grey-dugong   ดร.วรรณพร   53
20        slaphappy-silver-monkey   ดร.วรรณพร   53
21               whiny-pear-otter   ดร.วรรณพร   56
22          craggy-cream-reindeer   ดร.วรรณพร   57
23               whiny-pear-otter   อ.ธรรณญพร   60
24          craggy-cream-reindeer   อ.ธรรณญพร   60
25            jumpy-apricot-frise   รศ.วิชุดา   57
26       boozy-thistle-wildebeest   รศ.วิชุดา   57
27            jumpy-apricot-frise    ดร.พลากร   60
28       boozy-thistle-wildebeest    ดร.พลากร   58
29           hasty-magnolia-devil   รศ.วิชุดา   51
30        chummy-goldenrod-walrus   รศ.วิชุดา   51
31           hasty-magnolia-devil    ดร.พลากร   54
32        chummy-goldenrod-walrus    ดร.พลากร   54
33             lumpy-carmine-slug   ดร.ธนพงศ์   60
34             lumpy-carmine-slug   ดร.ธิปไตย   60
35             randy-gamboge-blue   รศ.วิชุดา   53
36        flimsy-lemon-budgerigar   รศ.วิชุดา   53
37             randy-gamboge-blue  ผศ.วุฒิชัย   60
38        flimsy-lemon-budgerigar  ผศ.วุฒิชัย   60
39        chewy-persimmon-catfish   อ.ธรรณญพร   48
40        skanky-amaranth-ostrich   อ.ธรรณญพร   48
41        chewy-persimmon-catfish  ผศ.สุกัญญา   47
42        skanky-amaranth-ostrich  ผศ.สุกัญญา   47
43         greasy-eggplant-oyster   อ.ธรรณญพร   44
44               randy-mauve-ibis   อ.ธรรณญพร   46
45         greasy-eggplant-oyster  ผศ.สุกัญญา   43
46               randy-mauve-ibis  ผศ.สุกัญญา   45
47               hazy-beige-stoat   อ.ธรรณญพร   44
48  squirrely-seashell-kingfisher   อ.ธรรณญพร   43
49               hazy-beige-stoat    อ.ยุภาพร   42
50  squirrely-seashell-kingfisher    อ.ยุภาพร   42
51          nerdy-plum-abyssinian  ดร.อุทุมพร   58
52       gloppy-xanthic-retriever  ดร.อุทุมพร   50
53          nerdy-plum-abyssinian    ดร.พลากร   57
54       gloppy-xanthic-retriever    ดร.พลากร   55

In [168]:
#รวมคะแนนในแต่ละวันมาไว้
Scoresall = pd.concat([preday1,preday2,preday3])
Scoresall

                       นักศึกษา  กรรมการสอบ  รวม
1          leaky-rust-chameleon  ผศ.วุฒิชัย   52
2            greasy-ruby-bombay  ผศ.วุฒิชัย   50
3          leaky-rust-chameleon    อ.ยุภาพร   60
4            greasy-ruby-bombay    อ.ยุภาพร   58
5           wiggy-silver-drever  ผศ.วุฒิชัย   52
..                          ...         ...  ...
50         muggy-charcoal-akita  ผศ.วุฒิชัย   52
51  stinky-wisteria-nightingale   รศ.วิชุดา   57
52            hazy-aqua-peccary   รศ.วิชุดา   57
53  stinky-wisteria-nightingale   ดร.ธนพงศ์   59
54            hazy-aqua-peccary   ดร.ธนพงศ์   59

[160 rows x 3 columns]

In [171]:
#คำนวนค่าเฉลี่ยของกรรมการคุมสอบ
mean_data3 = Scoresall.groupby('กรรมการสอบ').mean()
mean_data3

                    รวม
กรรมการสอบ
ดร.ธนพงศ์     55.769231
ดร.ธิปไตย     58.100000
ดร.พลากร      56.538462
ดร.วรรณพร     54.875000
ดร.อุทุมพร    53.266667
ผศ.วุฒิชัย    53.692308
ผศ.สุกัญญา    46.625000
รศ.ธิดาเดียว  54.230769
รศ.วิชุดา     54.400000
รศ.สุพรรณี    50.727273
อ.ธรรณญพร     52.785714
อ.ยุภาพร      55.375000

In [173]:
#คำนวนส่วนเบี่ยงเบนมาตรฐานของกรรมการคุมสอบ
std_data3 = Scoresall.groupby('กรรมการสอบ').std()
std_data3

                    รวม
กรรมการสอบ
ดร.ธนพงศ์      4.867474
ดร.ธิปไตย      3.034981
ดร.พลากร       3.256158
ดร.วรรณพร      1.892969
ดร.อุทุมพร     5.812138
ผศ.วุฒิชัย     4.643716
ผศ.สุกัญญา    19.434934
รศ.ธิดาเดียว   5.629592
รศ.วิชุดา      2.458545
รศ.สุพรรณี     8.661304
อ.ธรรณญพร      7.953505
อ.ยุภาพร       6.417424

In [174]:
#หา z score จากที่อาจารย์กำหนด
def cal_adjusted_score(z_score):
    return round(30 + ((-15*(z_score-2.3103448275862064))/(-4.788052880847054)),2)

#เนื่องจากเวลาเหลือน้อยจึงบรรยายต่อ
- คำนวนหา z score โดยใช้ for ต่อคำนวนโดยใช้สูตร Z (รวม-mean_data3)/std_data3 หมายเหตุ รวมคือ คะแนนรวมของกรรมการคุมสอบโปนเจค

-นำ z score ที่ได้มาใส่ในฟังก์ชัน cal_adjusted_score(z_score): เพื่อหาคะแนน ที่ปรับแก้แล้ว

-จากนั้น นำค่า score จาก ข้อมูล 1 (10%) ข้อมูล 2(30%) ข้อมูล 3(60%) มารวมกัน

-จากนั้นนำคะแนนที่รวมกัน มาใส่ในlist แล้วใช้ for ช่วยตัดเกรด 
list()
if(score >= 80):
    print("เกรด A\n")
	elif(score >= 75):
	    print("เกรด B+\n")
  elif(score >= 70):
	    print("เกรด B\n")
  elif(score >= 65):
	    print("เกรด C+\n")
	elif(score >= 60):
	    print("เกรด C\n")
  elif(score >= 55):
	    print("เกรด D+\n")
	elif(score >= 50):
	    print("เกรด D\n")
	else:
	    print("เกรด F\n")

ก็จะเสร็จข้อ 1-3

ข้อ 4
-นำข้อมูลในข้อที่ 3 ที่คำนวนหา Zscore แล้วมาทำกราฟ
ด้วยคำสั่ง
import matplotlib.pyplot as plt
from pandas.tools.plotting import parallel_coordinates

df = pd.DataFrame([["ดร.ธนพงศ์",adv_score,pres_score,class_score]],\
    ["ดร.ธิปไตย",adv_score,pres_score,class_score],["ดร.วรรณพร",adv_score,pres_score,class_score],["ดร.อุทุมพร",adv_score,pres_score,class_score],["ผศ.วุฒิชัย",adv_score,pres_score,class_score],["ผศ.สุกัญญา",adv_score,pres_score,class_score],["รศ.ธิดาเดียว",adv_score,pres_score,class_score],["รศ.วิชุดา",adv_score,pres_score,class_score],["รศ.สุพรรณี",adv_score,pres_score,class_score],["อ.ธรรณญพร",adv_score,pres_score,class_score],["อ.ยุภาพร",adv_score,pres_score,class_score]],\
    columns=["element","adv_score","pres_score","class_score"])
parallel_coordinates(df,"element")
plt.show()
ก็เสร็จข้อ 4