<a href="https://colab.research.google.com/github/ikarosgn/data_viz/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = '/content/drive/My Drive/dataviz_2021'

In [4]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv')

In [5]:
a = path + '/pm-20-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021/pm-20-jan-2021.csv

Load data to memory

In [14]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [15]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [16]:
data_covid.shape

(12653, 10)

In [17]:
data_covid.shape

(12653, 10)

## ชี้ค่าในข้อมูลที่ใส่มา

In [18]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [19]:
data_covid['province_of_onset'][4] ## ชี้ค่า1ค่า

'กรุงเทพมหานคร'

## iloc ชี้ค่า ดูค่าดูหลัก

In [ ]:
data_covid.iloc[4,7] #[แถวม,หลัก]

'กรุงเทพมหานคร'

In [ ]:
##table slicing
#คัดมาเฉพาะคอลัมที่ต้องการ

In [8]:
one_table = data_covid[['announce_date','province_of_onset','risk']]
one_table

NameError: ignored

## ตัดเฉพาะ rows ที่ต้องการ
แบบง่ายแต่ใช้การไม่ได้

In [20]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

##ใช้ประโยชน์ได้เยอะกว่า

In [21]:
data_covid[data_covid['province_of_isolation']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5761    5762  ...                              Cluster สมุทรสาคร
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11516  11517  ...                           อยู่ระหว่างการสอบสวน
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[16 rows x 10 columns]

#ทำไมต้อง ## data_covid[data_covid[]] แบบนี้2ครั้ง
ชือ colum
ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (ture/fales))

In [22]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

#HW (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด

2.คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

#1

In [23]:
avg_all = data_covid[['sex','age']]

In [24]:
avg_all_w = avg_all[avg_all['sex'] == 'หญิง']
avg_all_w_age = avg_all_w[['age']]
avg_all_w_age_dp = avg_all_w_age.dropna()
avg_all_w_age_dp_v = avg_all_w_age_dp.values

In [ ]:
avg_all_m = avg_all[avg_all['sex'] == 'ชาย']
avg_all_m_age = avg_all_m[['age']]
avg_all_m_age_dp = avg_all_m_age.dropna()
avg_all_m_age_dp_v = avg_all_m_age_dp.values

In [ ]:
answerforwo_all = []
for i in avg_all_w_age_dp_v :
      data = float(i)
      answerforwo_all.append(data)

In [ ]:
answerform_all = []
for i in avg_all_m_age_dp_v :
      data = float(i)
      answerform_all.append(data)

In [ ]:
def my_mean(sample):
    return sum(sample) / len(sample)

In [ ]:
ans1_1 = my_mean(answerforwo_all)
ans1_2 = my_mean(answerform_all)

In [ ]:

print(f'ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด เท่ากับ {ans1_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด เท่ากับ {ans1_2}')

#2

In [25]:
data_covid19_KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

In [26]:
avg_KK = data_covid19_KK[['sex','age']]

In [27]:
avg_KK_w = avg_KK[avg_KK['sex'] == 'หญิง']
avg_KK_w_age = avg_KK_w[['age']]
avg_KK_w_v = avg_KK_w_age.values

In [28]:
avg_KK_m = avg_KK[avg_KK['sex'] == 'ชาย']
avg_KK_m_age = avg_KK_m[['age']]
avg_KK_m_v = avg_KK_m_age.values

In [29]:
answerfor_wo = []
for i in avg_KK_w_v:
      data = float(i)
      answerfor_wo.append(data)

In [30]:
answerfor_men = []
for i in avg_KK_m_v:
      data = float(i)
      answerfor_men.append(data)

In [31]:
ans2_1 = my_mean(answerfor_wo)
ans2_2 = my_mean(answerfor_men)

NameError: ignored

In [ ]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด เท่ากับ {ans2_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด เท่ากับ {ans2_2}')

In [42]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

In [44]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [ ]:
sum = 0
N = 0
for a in female['age']:
    
    if a > 0:
      sum += a #sum=sum+a
      N += 1
print(sum/N)

In [ ]:
N = 0
for a in female['age']:
  if a > 0:
    
    N +=1
    print(N)

In [41]:
female_kk = female[female['provine_of_onset']=='ขอนแก่น']

sum = 0
N= 0
for a in female['age']:
    if a > 0:
  sum+=a
  N +=1
  print(sum/N)

IndentationError: ignored

##ลบ record (drop_na)
missing = '''None''' ''' NA ''' (not autorized) ' ' ' NaN(not a number)

In [45]:
this_data.shape

(12653, 3)

In [46]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [47]:
this_data.dropna().shape

(8478, 3)

In [48]:
this_data.dropna()
print(this_data.shape)

(12653, 3)

In [49]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8478, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
this_data = data_covid[['sex','age','province_of_onset']] 
this_data.shape

(12653, 3)

In [51]:
this_data.dropna(subset=['age']).shape #ชี้ที่อายุ

(8881, 3)

In [53]:
this_data_age = data_covid[['age']]

In [52]:
this_data_age.dropna().shape

(8881, 1)

In [ ]:
##แทน missingด้วยค่าที่เหมาะสม

##การวนลูป record ในตาราง

In [54]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [55]:
print(f'จำนวน record ก่อนดรอป missing ใน province {this_data.shape[0]}')
print(f"จำนวน record ก่อนดรอป missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อนดรอป missing ใน province 12653
จำนวน record ก่อนดรอป missing ใน province 10662

In [ ]:
this_data.dropna(subset=['province_of_onset']).shape[0]

In [ ]:
this_data.fillna(value={'sex':'ไม่รู้','age':-1,'province_of_onset':'ไม่รู้'})
this_data_up = this_data.fillna(value={'sex':'ไม่รู้','age':-1,'province_of_onset':'ไม่รู้'})

In [ ]:
this_data_up[this_data_up['sex']=='ไม่รู้']

In [56]:
for each_row in this_data.iterrows():
   #print(each_row)
   #print(each_row[0])
   if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
       print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

การวนลูป แบบมองตารางแพนด้าเป็น numpy array (.iloc)

In [66]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):
       print(each_row)
       print(this_data.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

#Quiz ในวนลูปเพื่อตัดเฉพาะข้อมูลที่มีปี 2021

In [70]:
for each_row in range(this_data.shape[0]):
   
  if(this_data.iloc[each_row,2] == '1/1/2021'):
      print(this_data.iloc[each_row,:])