<a href="https://colab.research.google.com/github/ikarosgn/data_viz/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
path = '/content/drive/My Drive/dataviz_2021'

In [11]:
data_path = os.path.join(path,'-.57-.58-1.xls')

In [12]:

data1_df = pd.read_excel(data_path,header=4,skipfooter=20)
data1_df

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0    ที่  ...                      NaN
1      1  ...           เป็นผู้รับจ้าง
2      2  ...           เป็นผู้รับจ้าง
3      3  ...           เป็นผู้รับจ้าง
4      4  ...           เป็นผู้รับจ้าง
..   ...  ...                      ...
75    42  ...           เป็นผู้รับจ้าง
76    43  ...           เป็นผู้รับจ้าง
77    44  ...           เป็นผู้รับจ้าง
78    45  ...           เป็นผู้รับจ้าง
79   NaN  ...               แบบ สขร. 1

[80 rows x 9 columns]

In [13]:
data1_df = data1_df.drop([0])
data1_df

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
1      1  ...           เป็นผู้รับจ้าง
2      2  ...           เป็นผู้รับจ้าง
3      3  ...           เป็นผู้รับจ้าง
4      4  ...           เป็นผู้รับจ้าง
5      5  ...           เป็นผู้รับจ้าง
..   ...  ...                      ...
75    42  ...           เป็นผู้รับจ้าง
76    43  ...           เป็นผู้รับจ้าง
77    44  ...           เป็นผู้รับจ้าง
78    45  ...           เป็นผู้รับจ้าง
79   NaN  ...               แบบ สขร. 1

[79 rows x 9 columns]

In [34]:
data2_df = pd.read_excel(data_path,sheet_name='พย.57',header=4,skipfooter=30)
data2_df

  ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0   ที่  ...                      NaN
1     1  ...           เป็นผู้รับจ้าง
2     2  ...           เป็นผู้รับจ้าง
3     3  ...           เป็นผู้รับจ้าง
4     4  ...           เป็นผู้รับจ้าง
5     5  ...           เป็นผู้รับจ้าง
6     6  ...           เป็นผู้รับจ้าง

[7 rows x 9 columns]

In [35]:
data2_df = data2_df.drop([0])
data2_df = data2_df.drop([16])
data2_df = data2_df.drop([17])
data2_df = data2_df.drop([18])
data2_df = data2_df.drop([19])
data2_df = data2_df.drop([20])
data2_df = data2_df.drop([21])
data2_df = data2_df.drop([37])
data2_df = data2_df.drop([38])
data2_df = data2_df.drop([39])
data2_df = data2_df.drop([40])
data2_df = data2_df.drop([41])
data2_df = data2_df.drop([42])
data2_df = data2_df.drop([43])
data2_df = data2_df.drop([44])
data2_df = data2_df.drop([45])
data2_df = data2_df.drop([46])
data2_df = data2_df.drop([47])
data2_df = data2_df.drop([48])
data2_df = data2_df.drop([49])
data2_df = data2_df.drop([50])

KeyError: ignored

In [36]:
data_all = pd.concat([data1_df,data2_df])
data_all

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
1      1  ...           เป็นผู้รับจ้าง
2      2  ...           เป็นผู้รับจ้าง
3      3  ...           เป็นผู้รับจ้าง
4      4  ...           เป็นผู้รับจ้าง
5      5  ...           เป็นผู้รับจ้าง
..   ...  ...                      ...
2      2  ...           เป็นผู้รับจ้าง
3      3  ...           เป็นผู้รับจ้าง
4      4  ...           เป็นผู้รับจ้าง
5      5  ...           เป็นผู้รับจ้าง
6      6  ...           เป็นผู้รับจ้าง

[85 rows x 9 columns]

In [37]:
data = data_all.rename(columns={'Unnamed: 5':'ราคาเสรอ','Unnamed: 7':'ราคาาซื้อ'})
data

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
1      1  ...           เป็นผู้รับจ้าง
2      2  ...           เป็นผู้รับจ้าง
3      3  ...           เป็นผู้รับจ้าง
4      4  ...           เป็นผู้รับจ้าง
5      5  ...           เป็นผู้รับจ้าง
..   ...  ...                      ...
2      2  ...           เป็นผู้รับจ้าง
3      3  ...           เป็นผู้รับจ้าง
4      4  ...           เป็นผู้รับจ้าง
5      5  ...           เป็นผู้รับจ้าง
6      6  ...           เป็นผู้รับจ้าง

[85 rows x 9 columns]